<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NotebookLM</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">MeetMind LM</div>
            <div class="menu">
                <a href="#">Overview</a>
                <a href="#">Business</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>Think <span class="highlight">smarter</span>, not harder</h1>
            <p>The ultimate tool for understanding the information that matters most to you, built with Gemini 1.5</p>
            <button class="cta-btn">
    <a href="home" style="color: white; text-decoration: none;">Try MeetMind LM</a>
</button>
        </section>
    </main>
</body>
</html>
